@import "tailwindcss";

@theme{
    --font-roboto:"Roboto", sans-serif;
    --font-montserrat:"Montserrat", sans-serif;
    --font-zalando:"Zalando Sans", sans-serif;
    --font-zalando-exp:"Zalando Sans Expanded", sans-serif;
  
    
}
